body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #333333;
    font-size: 60px;
    font-weight: 700;
}

p {
    color: #555555;
    font-size: 30px;
}

a {
    color:#333333;
   
    font-size: 25px;
}

li{
    font-size: 30px;
}






img {
    max-width: 75%;
    height: auto;
    margin-top: 20px;
    margin: 20px;
}


/* Add additional styles based on your Figma design */
